
.container {
  margin: 30px auto;
  /* width: 500px;
  height: 100vh; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  justify-content: center;
  align-items: center;
}

.button {
  margin: 30px 5px;
  padding: 15px 30px;
  background: rgb(0, 132, 255);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}

.button:hover {
  background: rgb(0, 183, 255);
}

h1 {
  color: rgb(0, 132, 255);
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}

div {
  font-style: normal;
  font-size: 40px;
  color: black;
}

.image{
  width: 200px;
  height: auto;
}